{% extends "base.html" %} {% block content %}

<!-- start main-content of about wrapper -->
<div id="luxy" class="main__content luxy__wrapper">

    <!-- start about wrapper -->
    <div class="wrapper about__wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-12">
                    <h2 class="page__hero_title slide__in_right" data-splitting>
                        <i>I'm Peter Mburu.</i> A Software Engineer (Django &amp; Flask), Business &amp; Software Analyst<br>Lives in Nairobi, Kenya.
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <!-- end about wrapper -->

    <!-- start experience wrapper -->
    <div class="wrapper experience__wrapper wrapper__alt">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-12">
                    <!-- section header -->
                    <h3 class="section__header">Experience</h3>

                    <!-- experience row -->
                    <div class="experience__row featured">
                        <div class="row justify-content-between">
                            <div class="col-5">
                                <span>Product Designer</span>
                            </div>
                            <div class="col">
                                <span>Pixel Studio</span>
                            </div>
                            <div class="col text-right">
                                <span>2018–Present</span>
                            </div>
                        </div>
                    </div>

                    <!-- experience row -->
                    <div class="experience__row">
                        <div class="row">
                            <div class="col-5">
                                <span>UI Designer</span>
                            </div>
                            <div class="col">
                                <span>Freelance Studio</span>
                            </div>
                            <div class="col text-right">
                                <span>2017–Present</span>
                            </div>
                        </div>
                    </div>

                    <!-- experience row -->
                    <div class="experience__row">
                        <div class="row">
                            <div class="col-5">
                                <span>Designer</span>
                            </div>
                            <div class="col">
                                <span>Alex Design Studio</span>
                            </div>
                            <div class="col text-right">
                                <span>2017–2018</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end experience wrapper -->

    <!-- start expertise wrapper -->
    <div class="wrapper expertise__wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-12">
                    <!-- section header -->
                    <h3 class="section__header">Expertise</h3>

                    <!-- expertise row -->
                    <div class="expertise__items">
                        <h3 class="expertise__item">Python</h3>

                        <span class="divider"></span>
                        <h3 class="expertise__item">Django</h3>

                        <span class="divider"></span>
                        <h3 class="expertise__item">Flask</h3>

                        <span class="divider"></span>
                        <h3 class="expertise__item">Django Rest</h3>

                        <span class="divider"></span>
                        <h3 class="expertise__item">HTML5 + CSS3</h3>

                        <span class="divider"></span>
                        <h3 class="expertise__item">JavaScript</h3>

                        <span class="divider"></span>
                        <h3 class="expertise__item">Linux</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end expertise wrapper -->

    <!-- start awards wrapper -->
    <div class="wrapper awards__wrapper wrapper__alt">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-12">
                    <!-- section header -->
                    <h3 class="section__header">Awards</h3>

                    <!-- awards row -->
                    <div class="awards__row">
                        <div class="row justify-content-between">
                            <div class="col-5">
                                <span>Site of The Day</span>
                            </div>
                            <div class="col">
                                <span>1x</span>
                            </div>
                            <div class="col text-right">
                                <span>Awwwards</span>
                            </div>
                        </div>
                    </div>

                    <!-- awards row -->
                    <div class="awards__row featured">
                        <div class="row justify-content-between">
                            <div class="col-5">
                                <span>Site of The Month</span>
                            </div>
                            <div class="col">
                                <span>1x</span>
                            </div>
                            <div class="col text-right">
                                <span>Awwwards</span>
                            </div>
                        </div>
                    </div>

                    <!-- awards row -->
                    <div class="awards__row">
                        <div class="row justify-content-between">
                            <div class="col-5">
                                <span>WOTD</span>
                            </div>
                            <div class="col">
                                <span>2x</span>
                            </div>
                            <div class="col text-right">
                                <span>CSS Design Awards</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end awards wrapper -->

    <!-- start clients wrapper -->
    <div class="wrapper clients__wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-12">
                    <!-- section header -->
                    <h3 class="section__header">Clients</h3>
                    {% load static %}
                    <div class="row">
                        <div class="col-md-4 col-6">
                            <div class="client__item hbrable">
                                <a href="#0">
                                    <img class="img-fluid" src="{% static 'img/clients/brand-1.png' %}" alt="brand-1">
                                    <span class="brand__name">Boxes</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="client__item hbrable">
                                <a href="#0">
                                    <img class="img-fluid" src="{% static 'img/clients/brand-2.png' %}" alt="brand-2">
                                    <span class="brand__name">Bahama Building Project</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="client__item hbrable">
                                <a href="#0">
                                    <img class="img-fluid" src="{% static 'img/clients/brand-3.png' %}" alt="brand-3">
                                    <span class="brand__name">Nick &amp; Joan</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="client__item hbrable">
                                <a href="#0">
                                    <img class="img-fluid" src="{% static 'img/clients/brand-4.png' %}" alt="brand-4">
                                    <span class="brand__name">Tokyo</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="client__item hbrable">
                                <a href="#0">
                                    <img class="img-fluid" src="{% static 'img/clients/brand-5.png' %}" alt="brand-5">
                                    <span class="brand__name">Mars</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4 col-6">
                            <div class="client__item hbrable">
                                <a href="#0">
                                    <img class="img-fluid" src="{% static 'img/clients/brand-6.png' %}" alt="brand-6">
                                    <span class="brand__name">Alex Design Studio</span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- end clients wrapper -->

    <!-- start testimonials wrapper -->
    <div class="wrapper testimonials__wrapper wrapper__alt">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-12">
                    <!-- section header -->
                    <h3 class="section__header">Testimonials</h3>

                    <!-- testimonials carousel -->
                    <div class="owl-carousel testimonials__carousel">
                        <!-- testimonial item -->
                        <div class="testimonial__item">
                            <p class="testimonial__text">Fugiat veritatis similique dolorem nobis nesciunt recusandae voluptatibus sequi facere enim quas voluptatum ipsa veritatis similique dolorem voluptate expedita vitae ut reprehenderit, at perferendis corrupti?</p>
                            <p class="reviewer__name">Mark Jonson</p>
                            <span class="reviewer__designation">CEO at Alex Design Studio</span>
                        </div>

                        <!-- testimonial item -->
                        <div class="testimonial__item">
                            <p class="testimonial__text">Quaerat veritatis similique dolorem aliquam veniam esse ratione non totam commodi, praesentium dolorum doloribus similique odio voluptates repudiandae id sequi. Quos dicta fugiat voluptate quidem.</p>
                            <p class="reviewer__name">John Arkber</p>
                            <span class="reviewer__designation">CEO at Alex Design Studio</span>
                        </div>

                        <!-- testimonial item -->
                        <div class="testimonial__item">
                            <p class="testimonial__text">Iusto laudantium doloremque maxime inventore, illo quas nostrum eius itaque commodi soluta sed iste, nam praesentium provident ratione maiores molestiae dicta mollitia veritatis similique dolorem?</p>
                            <p class="reviewer__name">Jonson Baker</p>
                            <span class="reviewer__designation">CEO at Alex Design Studio</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end testimonials wrapper -->

    <!-- start promo wrapper -->
    <div class="wrapper promo__wrapper">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-12">
                    <h2>Start your project or scale your team with us.</h2>
                    <a class="button-default slide-vertical hbrable" href="contact.html" data-splitting>Contact Me</a>
                </div>
            </div>
        </div>
    </div>
    <!-- end promo wrapper -->

</div>
<!-- end main-content of about wrapper -->
{{ footer }} {% endblock content %}