<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Digital Agency and Portfolio Template">
    <meta name="keywords" content="Digital Agency, Agency, Business, Portfolio, Personal, Creative, Html Template, Portfolio Template">
    <meta name="author" content="ixTheme">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    {% if title %}
    <title>PM - {{ title }}</title>
    {% else %}
    <title>PM</title>
    {% endif %}
    <!-- Favicon -->
    <link href="static/img/favicon.png" type="image/png" rel="icon">

    <!-- All CSS -->
    <link href="static/css/plugins.css" rel="stylesheet" type="text/css">
    <link href="static/css/main.css" rel="stylesheet" type="text/css">
    <link href="static/css/responsive.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- page cursor -->
    <div id="cursor" class="cursor"></div>

    <!--  start page loader  -->
    <div id="preloader">
        <div class="loader__content"></div>
        <div class="loader__content"></div>
        <div class="scroll-static"></div>
    </div>
    <!--  end page loader  -->

    <!-- start sidebar -->
    <div class="sidebar__left">

        <!-- navigation toggle -->
        <div class="navigation__toggle hbrable">
            <span></span><span></span><span></span>
        </div>

        <!-- color chooser toggle -->
        <div class="color__chooser_toggle hbrable"></div>

        <!-- breadcrumb text -->
        <div class="breadcrumb__text">
            <span>Home</span>
        </div>
    </div>
    <!-- end sidebar -->
    <!-- start navigation -->
    <nav class="navigation">
        <div class="container-fluid h-100">
            <div class="row no-gutters justify-content-center align-items-center h-100">
                <div class="col-md-4">
                    <div class="navigation_inner">
                        <div class="nav__label">
                            <a href="/" class="active nav__label_inner slide-horizontal hbrable" data-splitting>Home</a>
                        </div>
                        <div class="nav__label">
                            <a href="{% url 'front:about' %}" class="nav__label_inner slide-horizontal hbrable" data-splitting>About</a>
                        </div>
                        <div class="nav__label submenu__wrap">
                            <span class="nav__label_inner slide-horizontal hbrable" data-splitting>Works</span>
                            <ul class="sub__menu">
                                <li><a class="hbrable" href="works.html">Works Modern</a></li>
                                <li><a class="hbrable" href="works-grid.html">Works Grid View</a></li>
                                <li><a class="hbrable" href="works-grid-overlay.html">Works Grid Overlay</a></li>
                            </ul>
                        </div>
                        <div class="nav__label">
                            <a href="journal.html" class="nav__label_inner slide-horizontal hbrable" data-splitting>Journal</a>
                        </div>
                        <div class="nav__label">
                            <a href="contact.html" class="nav__label_inner slide-horizontal hbrable" data-splitting>Contact</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="contact__info mb-0">
                        <!-- hire me -->
                        <div class="text__heading_sm">Hire</div>

                        <!-- contact info -->
                        <div class="direct__contact_info">
                            <p>pmburu@pm.co.ke</p>
                            <p>+254 723 176 484</p>
                        </div>
                        <!-- follow -->
                        <div class="text__heading_sm">Follow</div>

                        <!-- social links -->
                        <div class="social__links">
                            <a class="hbrable" href="#0">
                                <span class="ti-twitter"></span>
                            </a>
                            <a class="hbrable" href="#0">
                                <span class="ti-linkedin"></span>
                            </a>
                            <a class="hbrable" href="#0">
                                <span class="ti-instagram"></span>
                            </a>
                            <a class="hbrable" href="#0">
                                <span class="ti-facebook"></span>
                            </a>
                            <a class="hbrable" href="#0">
                                <span class="ti-dribbble"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <!-- end navigation -->
    {% block content %} {% block footer %}
    <!-- start footer wrapper -->
    <footer class="footer__wrapper wrapper__alt">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-4 col-md-6 order-md-first order-sm-last order-last">
                    <p class="copyright__text">&copy; 2019 <a class="hbrable" href="pm.co.ke">Peter Mburu</a> All Rights Reserved.</p>
                </div>
                <div class="col-lg-4 col-md-6 order-md-last order-sm-first order-first">
                    <div class="social__links">
                        <a class="hbrable" href="https://twitter.com/MburuNgige" target="\_blank">
                            <span class="ti-twitter"></span>
                        </a>
                        <a class="hbrable" href="#0">
                            <span class="ti-linkedin"></span>
                        </a>
                        <a class="hbrable" href="#0">
                            <span class="ti-instagram"></span>
                        </a>
                        <a class="hbrable" href="#0">
                            <span class="ti-facebook"></span>
                        </a>
                        <a class="hbrable" href="#0">
                            <span class="ti-dribbble"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer wrapper -->
    {% endblock footer %}{% endblock content %}
    <!-- All JS -->
    <script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/plugins.js"></script>
    <script src="static/js/main.js"></script>

</body>

</html>