{% extends "base.html" %} {% block content %}
<!-- start main-content of contact wrapper -->
<div id="luxy" class="main__content luxy__wrapper">

    <!-- start hero/breadcrumb wrapper -->
    <div class="wrapper wrapper__alt">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-12">
                    <h2 class="page__hero_title slide__in_right" data-splitting>
                        <i>Contact Me.</i>
                        <span class="sub__text">Get in Touch</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
    <!-- end hero/breadcrumb wrapper -->

    <!-- start contact form wrapper -->
    <div class="wrapper contact__form_wrapper">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-12">

                    <!-- contact__form -->
                    <form method="POST" class="contact__form">
                        <div class="row justify-content-between">
                            <div class="col-md-12">
                                <div class="row contact__info">
                                    <div class="col-md-6">
                                        <!-- hire me -->
                                        <p class="text__heading_sm">Hire</p>

                                        <!-- contact info -->
                                        <div class="direct__contact_info">
                                            <p>pmburu@pm.co.ke</p>
                                            <p>+254 723 176 484</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- follow -->
                                        <p class="text__heading_sm">Follow</p>

                                        <!-- social links -->
                                        <div class="social__links">
                                            <a class="hbrable" href="#0">
                                                <span class="ti-twitter"></span>
                                            </a>
                                            <a class="hbrable" href="#0">
                                                <span class="ti-linkedin"></span>
                                            </a>
                                            <a class="hbrable" href="#0">
                                                <span class="ti-instagram"></span>
                                            </a>
                                            <a class="hbrable" href="#0">
                                                <span class="ti-facebook"></span>
                                            </a>
                                            <a class="hbrable" href="#0">
                                                <span class="ti-dribbble"></span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- contact__form_text -->
                                        <h3 class="contact__form_heading">Business Talk</h3>
                                    </div>
                                    <div class="col-md-12 contact__form_services">
                                        <!-- input checkbox for service -->
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="frontED">
                                            <label class="custom-control-label" for="frontED">Front-end Development</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="webD">
                                            <label class="custom-control-label" for="webD">Website Design</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="UId">
                                            <label class="custom-control-label" for="UId">UI Design</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="UXr">
                                            <label class="custom-control-label" for="UXr">UX Research</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="nobAD">
                                            <label class="custom-control-label" for="nobAD">Mobile App Design</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="bran">
                                            <label class="custom-control-label" for="bran">Branding</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="anim">
                                            <label class="custom-control-label" for="anim">Animation</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- input field for NAME -->
                                        <input class="input_field required" type="text" name="name" placeholder="Full Name">
                                    </div>
                                    <div class="col-md-6">
                                        <!-- input field for EMAIL -->
                                        <input class="input_field required" type="email" name="email" placeholder="Email Address">
                                    </div>
                                    <div class="col-md-12">
                                        <!-- input field for MESSAGE -->
                                        <textarea class="input_field required" name="message" placeholder="Just write “hello” or describe it"></textarea>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <!-- button for MESSAGE-SEND -->
                                        <button class="button-default slide-vertical hbrable" type="submit" data-splitting>send message</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- end contact form wrapper -->

</div>
<!-- end main-content of contact wrapper -->
{% endblock content %}