{% extends "base.html" %} {% block content %}

<!-- start main content -->
<div class="main__content glitch__image h-100">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-lg-4 overflow-hidden">
                <!-- hero person image -->
                <div class="hero__person_image">
                    <div class="glitch">
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                        <div class="glitch__img"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <!-- start hero__wrapper -->
                <div class="hero__wrapper">
                    <div class="hero__content">
                        <h5 class="title__person slide__in_right" data-splitting>Peter Mburu</h5>
                        <p class="title__person_info slide__in_right" data-splitting>A Backend (Python) Sofware Engineer.<br>Living in Nairobi, Kenya.</p>
                    </div>
                    <div class="hero__socials">
                        <a href="https://twitter.com/MburuNgige" target="\_blank" rel="noopener noreferrer" class="social__label slide__in_right slide-horizontal hbrable" data-splitting>Twitter</a>
                        <a href="#0" class="social__label slide__in_right slide-horizontal hbrable" data-splitting>Linkedin</a>
                        <a href="#0" class="social__label slide__in_right slide-horizontal hbrable" data-splitting>Dribbble</a>
                    </div>
                </div>
                <!-- end hero__wrapper -->
            </div>
        </div>
    </div>
</div>
<!-- end main content -->
{% endblock content %}