{% extends "base.html" %} {% block content %}

<!-- start hero/breadcrumb wrapper -->
<div class="wrapper wrapper__alt">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <h2 class="page__hero_title slide__in_right" data-splitting>
                    <i>Portfolio.</i>
                    <span class="sub__text">Our Best Works</span>
                </h2>
            </div>
        </div>
    </div>
</div>
<!-- end hero/breadcrumb wrapper -->

<!-- start works wrapper -->
<div class="wrapper works__wrapper">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <!-- work-item -->
                <div class="works__item">
                    <h2 class="work__title">
                        <span class="project__count">01</span>
                        <a class="ajax-popup-link hbrable" href="work-details-1.html">Fighters</a>
                    </h2>
                </div>

                <!-- work-item -->
                <div class="works__item">
                    <h2 class="work__title">
                        <span class="project__count">02</span>
                        <a class="ajax-popup-link hbrable" href="work-details-2.html">Ceramics</a>
                    </h2>
                </div>

                <!-- work-item -->
                <div class="works__item">
                    <h2 class="work__title">
                        <span class="project__count">03</span>
                        <a class="ajax-popup-link hbrable" href="work-details-3.html">Logitech</a>
                    </h2>
                </div>

                <!-- work-item -->
                <div class="works__item">
                    <h2 class="work__title">
                        <span class="project__count">04</span>
                        <a class="ajax-popup-link hbrable" href="work-details-4.html">Roadtrip</a>
                    </h2>
                </div>

                <!-- work-item -->
                <div class="works__item">
                    <h2 class="work__title">
                        <span class="project__count">05</span>
                        <a class="ajax-popup-link hbrable" href="work-details-5.html">Unit-Pen</a>
                    </h2>
                </div>

                <!-- work-item -->
                <div class="works__item">
                    <h2 class="work__title">
                        <span class="project__count">06</span>
                        <a class="ajax-popup-link hbrable" href="work-details-6.html">City Lights</a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end works wrapper -->

<!-- start promo wrapper -->
<div class="wrapper promo__wrapper wrapper__alt">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <h2>Start your project or scale your team with us.</h2>
                <a class="button-default slide-vertical hbrable" href="contact.html" data-splitting>Contact Us</a>
            </div>
        </div>
    </div>
</div>
<!-- end promo wrapper -->

{% endblock content %}